<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Alcohol Page</h1>
      <form action="/alcohol/<%=alcohol.id%>?_method=PUT" method="POST">

          Name: <input type="text" name="name" value="<%=alcohol.name%>"/><br/>
          Image: <input type="text" name="image" value="<%=alcohol.image%>"/><br/>
          IS it Alcoholic?:
          <input type="checkbox" name="isAlcoholic"
              <% if(alcohol.isAlcoholic === true){ %>
                  checked
              <% } %>
          />
          <br/>
          <input type="submit" value="Submit Changes">
      </form>

      <br/>
      <br/>
      <nav>
        <a href="/alcohol">Back To Home Page</a>
      </nav>
  </body>
</html>
