<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/../css/style.css">
  </head>
  <body>
    <div classname="index">
    <h1>Your created drinks</h1>

      <ul>
          <% for(let i = 0; i < alcohol.length; i++){ %>
            <li>
              <a href="/alcohol/<%=alcohol[i].id; %>"> <%=alcohol[i].name; %> </a>
              <form action="/alcohol/<%=alcohol[i].id; %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
              </form>

              <input type="button" onClick="location.href='/alcohol/<%= alcohol[i].id %>/edit'" value="EDIT" />

            </li>
            <br/>
          <% } %>
      </ul>

      <nav>

        <input type="button" onClick="location.href='/alcohol/new'" value="Create a NEW DRINK">

      </nav>
    </div>
  </body>
</html>
