<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/../css/style.css">
  </head>
  <body>
    <h1>New Alcohol Page</h1>

    <form action="/alcohol" method="POST">
      Name: <input type="text" name="name" /><br/>
      Image URL: <input type="text" name="image" /><br/>
      IS it Alcoholic?: <input type="checkbox" name="isAlcoholic" /><br/>


      <input type="submit" value="Create NEW DRINK">


    </form>

      <br/>
      <br/>
      <a href="/alcohol/">Go back</a>
  </body>
</html>
