<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Alcohol show page</h1>

      The <%=alcohol.name; %> is <%=alcohol.image; %>.

      <br/>
      <br/>
      <nav>
        <a href="/alcohol">Back To Home Page</a>
      </nav>
  </body>
</html>
