<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Fruits show page</h1>

      The <%=fruit.name; %> is <%=fruit.color; %>.

      <br/>
      <br/>
      <nav>
        <a href="/fruits">Back To Home Page</a>
      </nav>
  </body>
</html>
